$red: #d91a2a;
$red-hover: #AD1521;
$gray: #acacac;
$gray-hover: #919191;
$white: #ffffff;
$white-hover: #E6E6E6;
$dark: #232323;

body{
    width: 100vw;
    height: 100vh;
    background-color: $white;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: $dark;
    color: $dark;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: $white;
    background-color: $red;
}

nav a{
    margin-left: 1rem;
    color: $gray;
    transition: color .25s ease-out;

    &:hover{
        color: $red;
    }
}

footer a{
    color: $white;
    transition: color .25s ease-out;

    &:hover{
        color: $dark;
    }
}

.current{
    font-weight: 700;
    color: $red;
}

a{
    color: $red;
    transition: color .25s ease-out;
    
    &:hover{
        font-weight: 700;
        color: $dark;
    }
}

img{
    width: 300px;
}

.container{
    max-width: 1248px;
    margin: 0 auto;
    padding: 1rem;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post{
    font-size: 4rem;
}

.metadata{
    color: $gray;
}

.controls{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem 1rem;
    width: 16rem;
    height: 4.5rem;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(172, 172, 172, 0.25);
    border-radius: 4.5rem;
    cursor: pointer;

    .prev, .next{
        display: flex;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $red;
        border-radius: 50%;
        transition: background-color .25s ease-out;

        &:hover{
            background-color: $red-hover;
        }

        img{
            width: 1.5rem;
        }
    }
}