$red: #d91a2a;
$gray: #acacac;
$dark: #232323;
$white: #ffffff;

body{
    width: 100vw;
    height: 100vh;
    background-color: $white;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: $dark;
    color: $dark;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: $white;
    background-color: $red;
}

nav a{
    margin-left: 1rem;
    color: $gray;
    transition: color .25s ease-out;

    &:hover{
        color: $red;
    }
}

footer a{
    color: $white;
    transition: color .25s ease-out;

    &:hover {
        color: $dark;
    }
}

.current{
    color: $red;
}

a{
    color: $red;
    text-decoration: none;
    transition: color .25s ease-out;
    
    &:hover{
        color: $dark;
    }
}

img{
    width: 300px;
}

.container{
    max-width: 1248px;
    margin: 0 auto;
    padding: 1rem;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post{
    font-size: 4rem;
}

.metadata{
    color: $gray;
}

.controls {
    cursor: pointer;
}