$red: #d91a2a;
$red-hover: #AD1521;
$gray: #acacac;
$gray-hover: #919191;
$white: #ffffff;
$white-hover: #E6E6E6;
$dark: #232323;

body{
    height: 100%;
    background-color: $white;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: $dark;
    color: $dark;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: $white;
    background-color: $red;
}

a{
    padding-bottom: .15rem;
    color: $gray;
    border-bottom: 2px solid $gray;
    text-decoration: none;
    transition: all .25s ease-in-out;

    &:hover{
        padding-bottom: .25rem;
        font-weight: 500;
        color: $red;
        border-bottom: 2px solid $red;
    }
}

nav{
    a{
        margin-left: 1rem;
    }
    .logo{
        margin-left: 0;
        padding: 0;
        width: 12rem;
        border: none;
        
        &:hover{
            padding: 0;
            border: none;
        }
    }
    .current{
        font-weight: 500;
        color: $red;
        border-bottom: 2px solid $red;
    }
}

footer a{
    color: $white;
    border-bottom: 2px solid $white;

    &:hover{
        color: $dark;
        border-bottom: 2px solid $dark;
    }
}

.container{
    max-width: 1248px;
    margin: 0 auto;
    padding: 1rem;
    .flex-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

h1{
    color: $gray;
}

h2{
    font-size: 3rem;
    font-weight: 500;
}

.carousel{
    padding-bottom: 1rem;

    .post{
        padding: .5rem 0;

        .metadata{
            color: $gray;
        }

        .content{
            font-size: 3rem;
            font-weight: 700;
        }
    }
}

.controls{
    margin: 0 auto;
    padding: .5rem 1rem;
    max-width: 18.5rem;
    max-height: 4.5rem;
    color: $gray;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(172, 172, 172, 0.25);
    border-radius: 4.5rem;
    cursor: pointer;

    .prev, .next{
        display: flex;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $red;
        border-radius: 50%;
        transition: background-color .25s ease-in-out;

        &:hover{
            background-color: $red-hover;
        }

        .arrow{
            width: 1.5rem;
            transition: width .25s ease-in-out;

            &:hover{
                width: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    h2{
        font-size: 1.5rem;
    }

    .logo{
        width: 8rem;
    }

    .carousel{
        .post{
            .content{
                font-size: 1.5rem;
            }
        }
    }
}